<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <title>ToText</title>
      <style>
         body { margin:0; padding:24px; font-family:Arial, sans-serif; }
         table { border-collapse:collapse; width:100%; }
         img { border:0; height:auto; }
         .container { max-width:700px; margin:auto; }
         .header img { max-width:140px; height: 40px; }
         .title { font-size:28px; font-weight:bold; text-align:left; color:#1A1C1F; }
         .content { font-size:16px; line-height:1.8; color:#1A1C1F; padding:16px 0; }
         .footer { font-size:14px; color:#9ca3af; text-align:left;}
         .unsubscribe a { color:#9ca3af; text-decoration:underline; }
         a { text-decoration:none; }
      </style>
   </head>
   <body>
      <table role="presentation" class="container">
         <tr>
            <td><br/><br/></td>
         </tr>
         <tr>
            <td class="title">{{ title }}</td>
         </tr>
         <tr>
            <td class="content">{{ body }}</td>
         </tr>
         <tr>
            <td class="footer">
               <a href="https://totext.app">
                  <table>
                     <tr>
                        <td width="40">
                           <svg width="32" height="32" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0179062 0.0252686H2.98946V2.70021L4.03359 2.29178L4.03359 11.7987L2.98946 11.3903V13.2878L13.4657 13.2878V0.0252686H14.5723V5.09119H15.5077V4.48399H15.9733V9.60652H15.5077V8.99932H14.5723V13.98L14.5585 13.98L13.4657 13.98H2.98946H0.0179062L0.0179043 13.2878L0.0179062 0.0252686ZM1.50254 2.21485C1.17374 2.21485 0.907196 1.93934 0.907196 1.59947C0.907196 1.2596 1.17374 0.984084 1.50254 0.984084C1.83134 0.984084 2.09789 1.2596 2.09789 1.59947C2.09789 1.93934 1.83134 2.21485 1.50254 2.21485ZM4.74461 11.0325L5.81368 11.4171L5.81367 2.67336L4.74461 3.05798L4.74461 11.0325ZM7.59067 11.0597L6.52161 10.6751L6.52161 3.41539L7.59067 3.03078L7.59067 11.0597ZM8.29861 10.3885L9.36768 10.7731L9.36768 3.31742L8.29861 3.70203L8.29861 10.3885ZM11.1447 10.5361L10.0756 10.1514L10.0756 3.93907L11.1447 3.55445L11.1447 10.5361ZM11.8526 9.90219L12.9217 10.2868L12.9217 3.8037L11.8526 4.18832L11.8526 9.90219Z" fill="black"/>
                           </svg>
                        </td>
                        <td style="font-size: 16px; color: black">
                           <b>ToText</b>.ai
                        </td>
                     </tr>
                  </table>
               </a>
               <br/>
               <br/>
               &copy; 2024 <a href="https://totext.app">totext.app</a><br>
               {{ footer }}<br>
               {% if unsubscribe_url %}
               <div class="unsubscribe" style="margin-top: 10px;">
                  <a href="{{ unsubscribe_url }}">Unsubscribe</a> from these emails.
               </div>
               {% endif %}
            </td>
         </tr>
      </table>
   </body>
</html>
